<a href="https://colab.research.google.com/github/FrycuBOP/ML_course/blob/main/feature_extraction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import numpy as np
import pandas as pd
import sklearn

In [7]:
def fetch_financial_data(company='AMZN'):
  """
  This function fetches stock market quotations.
  """
  import pandas_datareader.data as web
  return web.DataReader(name=company,data_source='stooq')

df_raw = fetch_financial_data()
df_raw.head()

               Open     High        Low    Close   Volume
Date
2022-04-25  2880.46  2924.43  2846.1309  2921.48  3093749
2022-04-22  2965.00  2992.30  2873.9501  2887.00  3653929
2022-04-21  3094.28  3134.76  2951.7900  2965.92  3198466
2022-04-20  3152.05  3152.05  3072.0700  3079.96  2981501
2022-04-19  3040.59  3172.98  3031.0100  3162.31  2746321

In [8]:
df = df_raw.copy()
df = df_raw[:5]
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 5 entries, 2022-04-25 to 2022-04-19
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    5 non-null      float64
 1   High    5 non-null      float64
 2   Low     5 non-null      float64
 3   Close   5 non-null      float64
 4   Volume  5 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 240.0 bytes

In [9]:
df['day'] = df.index.day
df['month'] = df.index.month
df['year'] = df.index.year
df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

               Open     High        Low    Close   Volume  day  month  year
Date
2022-04-25  2880.46  2924.43  2846.1309  2921.48  3093749   25      4  2022
2022-04-22  2965.00  2992.30  2873.9501  2887.00  3653929   22      4  2022
2022-04-21  3094.28  3134.76  2951.7900  2965.92  3198466   21      4  2022
2022-04-20  3152.05  3152.05  3072.0700  3079.96  2981501   20      4  2022
2022-04-19  3040.59  3172.98  3031.0100  3162.31  2746321   19      4  2022

In [11]:
df = pd.DataFrame(data={'height':[175.,178.5,185.,191.,184.5,183.,168.]})
df

   height
0   175.0
1   178.5
2   185.0
3   191.0
4   184.5
5   183.0
6   168.0

In [13]:
df['hieight_cat'] = pd.cut(x=df.height,bins=3)
df

   height         hieight_cat
0   175.0  (167.977, 175.667]
1   178.5  (175.667, 183.333]
2   185.0    (183.333, 191.0]
3   191.0    (183.333, 191.0]
4   184.5    (183.333, 191.0]
5   183.0  (175.667, 183.333]
6   168.0  (167.977, 175.667]

In [14]:
df['hieight_cat'] = pd.cut(x=df.height,bins=(160,175,180,195))
df

   height hieight_cat
0   175.0  (160, 175]
1   178.5  (175, 180]
2   185.0  (180, 195]
3   191.0  (180, 195]
4   184.5  (180, 195]
5   183.0  (180, 195]
6   168.0  (160, 175]

In [15]:
df['hieight_cat'] = pd.cut(x=df.height,bins=(160,175,180,195),labels=['small','medium','high'])
df

   height hieight_cat
0   175.0       small
1   178.5      medium
2   185.0        high
3   191.0        high
4   184.5        high
5   183.0        high
6   168.0       small

In [17]:
pd.get_dummies(df,drop_first=True,prefix='height')

   height  height_medium  height_high
0   175.0              0            0
1   178.5              1            0
2   185.0              0            1
3   191.0              0            1
4   184.5              0            1
5   183.0              0            1
6   168.0              0            0

In [18]:
df = pd.DataFrame(data={'lang':[['PL','ENG'],['GER','ENG','PL','FRA'],['RUS']]})
df

                  lang
0            [PL, ENG]
1  [GER, ENG, PL, FRA]
2                [RUS]

In [19]:
df['lang_number'] = df['lang'].apply(len)
df

                  lang  lang_number
0            [PL, ENG]            2
1  [GER, ENG, PL, FRA]            4
2                [RUS]            1

In [20]:
df['PL_flag'] = df['lang'].apply(lambda x: 1 if 'PL' in x else 0)
df

                  lang  lang_number  PL_flag
0            [PL, ENG]            2        1
1  [GER, ENG, PL, FRA]            4        1
2                [RUS]            1        0

In [21]:
df = pd.DataFrame(data={'website':['wp.pl','onet.pl','google.com']})
df

      website
0       wp.pl
1     onet.pl
2  google.com

In [22]:
df.website.str.split('.',expand=True)

        0    1
0      wp   pl
1    onet   pl
2  google  com

In [25]:
new = df.website.str.split('.',expand=True)
df['portal'] = new[0]
df['extension'] = new[1]
df

      website  portal extension
0       wp.pl      wp        pl
1     onet.pl    onet        pl
2  google.com  google       com